<div class="container">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label>Name</label><br>
    <%= f.input :name, autofocus: true, autocomplete: "name", required: false, wrapper: false, label: false %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <p>郵便番号</p>
  <%= f.input :postcode, label: false %>
  <p>都道府県</p>
  <%= f.input :prefecture_code, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県', label: false %>
  <p>市町村名</p>
  <%= f.input :address_city, label: false %>
  <p>番地</p>
  <%= f.input :address_street, label: false %>
  <p>建物名</p>
  <%= f.input :address_building, label: false %>


  <div class="actions">
    <input type="submit" name="commit" class="btn btn-success" value="Sign up" date-disable-with="Sign up"></input>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
