<h2>Editing Book</h2>

<%= form_for(@book) do |f| %>
  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Opinion %>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Update Book" %>
  </div>
<% end %>
<%= link_to "Show", book_path(@book) %>
<span>|</span>
<%= link_to "Back", books_path %>